[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beaker-pyteal = {git = "https://github.com/algorand-devrel/beaker", editable = true, ref = "sdk-break-prep"}
docopt = "*"
py-algorand-sdk = {git = "https://github.com/algorand/py-algorand-sdk", editable = true, ref = "develop"}
pyteal = "*"

[dev-packages]
black = "*"
autoflake = "*"

[requires]
python_version = "3.10"
